<launch>
  <master auto="start"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_intruder" output="screen">
    <rosparam file="$(find gazebo_world_builder)/pioneer_nav/costmap_common_params.yaml" command="load" ns="intruder/global_costmap" />
    <rosparam file="$(find gazebo_world_builder)/pioneer_nav/costmap_common_params.yaml" command="load" ns="intruder/local_costmap" />
    <rosparam file="$(find gazebo_world_builder)/pioneer_nav/local_costmap_params_intruder.yaml" command="load" />
    <rosparam file="$(find gazebo_world_builder)/pioneer_nav/global_costmap_params_intruder.yaml" command="load" />
    <rosparam file="$(find gazebo_world_builder)/pioneer_nav/base_local_planner_params.yaml" command="load" />
    <param name="controller_frequency" value="10.0"/>
    <remap from="/cmd_vel" to="/intruder/cmd_vel"/>
  </node>
</launch>
