<launch>
  <arg name="model_dbname" default="road_net_node" />
  <arg name="model_name" default="$(arg model_dbname)" />
  <arg name="model_position" default="-x 0.0 -y 0.0 -z 0.01" />


    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="model_spawner_$(arg model_name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -database $(arg model_dbname) -model $(arg model_name) $(arg model_position)"/>

</launch>
