
<launch>

  <!-- Transform Between Map and odom-->     
  <node pkg="tf" type="static_transform_publisher" 
      name="mapToOdomHero" args="0 0 0 0 0 0 /map /hero/odom 2"/>
  <!-- Transform Between Map and odom-->     
  <node pkg="tf" type="static_transform_publisher" 
      name="mapToOdomIntruder" args="0 0 0 0 0 0 /map intruder/odom 2"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched.  Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Use Models that builds walls -->
  <!--<include file="maze_spawn.gazebo.launch">
     <arg name="maze_name" value="road_net2"/>
     <arg name="maze_position" value="-x 0 -y 0 -z 0.01 -R 0 -P 0 -Y 0" />
  </include>-->

  <node name="map_server" pkg="hri_map_server" type="map_server" args="$(find gazebo_world_builder)/launch/road_net2.yaml" />

  <!-- World without walls -->
  <include file="road_spawn.gazebo.launch">
    <arg name="road_net_dbname" value="road_net_visual"/>
    <arg name="road_net_position" value="-x 27.65 -y 27.65 -z -0.01 -R 0 -P 0 -Y 0" />
    <arg name="road_net_size" value="55.3 55.3 0.099" />
  </include>


  <!-- Spawn models   -->

  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="husky_good"/>
     <arg name="model_position" value="-x 24.7753 -y 5.0471 -z 0.1 -R 0 -P 0 -Y -0.3844" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="husky_intruder"/>
     <arg name="model_position" value="-x 39.5379 -y 33.0177 -z 0.1 -R 0 -P 0 -Y 0.6495" />
  </include>

  <!-- Node/Sensors  -->
  <!--Need to change the name of the model some how or add a lot more models in gazebo -->    
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_exit"/>
     <arg name="model_position" value="-x 44.5778 -y 52.4534 -z 0.1 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 31.3415 -y 47.4779 -z 0.1 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_empty"/>
     <arg name="model_position" value="-x 34.4535 -y 29.3744 -z 0.1 -R 0 -P 0 -Y 0" />
  </include>

 <!-- <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 45.7463 -y 37.9635 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 52.4764 -y 22.0 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 39.4766 -y 15.0362 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 48.2208 -y 5.1927 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_empty"/> 
     <arg name="model_position" value="-x 31.1596 -y 2.7756 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 15.0934 -y 8.7257-z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_empty"/>
     <arg name="model_position" value="-x 9.6406 -y 24.5925 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 21.2949 -y 35.9467 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 16.1490 -y 48.5783 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  <include file="model_spawn.gazebo.launch">
     <arg name="model_dbname" value="road_net_node_sensor"/>
     <arg name="model_position" value="-x 2.7914 -y 38.6330 -z 0.0 -R 0 -P 0 -Y 0" />
  </include>
  -->

  <!-- Running other launch files -->
  <include file="../pioneer_nav/move_base_intruder.launch"/>
  <include file="../pioneer_nav/move_base.launch"/>




</launch>